{% extends "layout.html" %}

{% block content %}
<div class="home-container">
    <div class="home-content">
        <h1>Welcome to Gugak World!</h1>
        <div class="home-logo">
            <img src="https://www.kocis.go.kr/eng/webzine/201803/common/images/img3-2.jpg" alt="Gugak World Logo">
        </div>
        <div class="about-description">
            <p>Experience the rich heritage of Korean traditional music through our interactive learning platform.</p>
        </div>
        <a href="/about" class="start-button">Start Now</a>
    </div>
</div>
{% endblock %}
